body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    color: #e0e0e0;
    overflow: hidden;
}

.game-container {
    text-align: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    margin: 20px auto;
    width: max-content;
}

.background {
    position: absolute;
    width: 100%;
    height: 109%;
    background: linear-gradient(135deg, #4b6cb7 0%, #3b8d99 50%, #00b4d8 100%);
    z-index: -1;
}

.card {
    background: #e0e0e0;
    border-radius: 8px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
    color: #444;
    position: relative;
    transform: scale(1);
    transition: transform 0.2s, background-color 0.3s;
}

.card.flip {
    background-color: #d4e2f0; /* Light blue with a hint of gray */
    transform: scale(1.05);
}

.card.match {
    background-color: #bde5b2; /* Soft green that complements the background */
    pointer-events: none;
}

.info {
    margin-top: 20px;
}

.info p {
  margin: 10px;
}

h1 {
    margin-bottom: 40px;
}

button {
    padding: 10px 20px;
    background-color: #ff7f50;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #ff6347;
}

footer {
    position: fixed;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 13px;
    bottom: 0px;
}

footer a {
    color: #ffcc00;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Styles for the menu button */
.menu-button {
    position: fixed;
    top: 10px;
    left: 15px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1009;
    color: white;
    transition: transform 0.5s ease;
}

.menu-button.clicked {
    transform: rotate(180deg) scale(1.1);
    }

/* Styles for the side menu */
.side-menu {
    position: fixed;
    top: 0;
    left: -250px; /* Change from right to left */
    width: 250px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 50px;
    transition: left 0.3s ease; /* Change from right to left */
    z-index: 1000;
}

/* Styles for the side menu when open */
.side-menu.open {
    left: 0; /* Change from right to left */
}

/* Styles for the buttons inside the side menu */
.side-menu button {
    display: block;
    width: 100%;
    padding: 15px 20px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    text-align: left;
    border: none;
    border-bottom: 1px solid #555;
    transition: background-color 0.3s ease;
}

/* Hover effect for the buttons inside the side menu */
.side-menu button:hover {
    background-color: #555;
}

/* Media Queries for Responsive Design */
@media (max-width: 600px) {
	body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-top: 20px;
        color: #e0e0e0;
	    overflow: hidden;
    }

    .background {
        position: absolute;
        width: 100%;
        height: 109%;
        background: linear-gradient(135deg, #4b6cb7 0%, #3b8d99 50%, #00b4d8 100%);
        z-index: -1;
    }

    .game-board {
        grid-template-columns: repeat(4, 85px);
        grid-gap: 5px;
    }

    .card {
        height: 85px;
        width: 85px;
        font-size: 1.2rem;
    }

    .info button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}
